doctype html
html
    head
        title= 'SockChat.'
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href="/stylesheets/bootstrap.min.css")
        script(src="/javascript/jquery-2.1.4.min.js")
        script(src="/javascript/bootstrap.min.js")
        script(src="/javascript/angular.min.js")
        script(src="/javascript/controller.js")
        script(src="/javascript/parameters.js")
        script(src="/javascript/protocol.js")
        script(src="/javascript/socketprovider.js")
    body
        block content
